appdirs==1.4.3
asgiref==3.2.3
Babel==2.8.0
distlib==0.3.0
Django==3.0.3
django-cors-headers==3.2.1
django-phonenumber-field==4.0.0
django-rest-framework==0.1.0
djangorestframework==3.11.0
filelock==3.0.12
mysqlclient==1.4.6
phonenumbers==8.12.1
Pillow==9.3.0
PyMySQL==0.9.3
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
virtualenv==20.0.7
virtualenvwrapper-win==1.2.6
