{% extends 'base.html' %}
{% load my_tags %}
{% block title %}
Agent Register
{% endblock %}
{% block body %}
        <div class="b-client_parent">
            <div onclick="window.history.back()" 
        style="cursor: pointer; 
        font-size:20px;
        margin-left: -712px;
        margin-bottom: 13px;">
            <i class="fa fa-angle-double-left" style="font-size:22px;"></i> back
        </div>
            <div class="b-client">
                
                <h2>Enter Agents's Information</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form1.as_p }}
                    <br>
                    {{ form2.as_p}}
                    <br>
                    <input type="submit" value="Submit" />
                    {{ form1.errors }}
                    {{ form1.non_field_errors }}
                    {{ form2.errors }}
                    {{ form2.non_field_errors }}                
                </form>
            </div>
        </div>

<style>
.b-client_parent{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.b-client{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border-style:solid; 
    border-width:2px; 
    border-color:black; 
    padding: 16px;
}
</style>
{% endblock %}
