{% extends "base.html" %}
{% load my_tags %}
{% block title %}
Agent Dashboard
{% endblock %}
{% block body %}
<div class="b-agent-parent">
    <div class="b-agent__sidebar">
            <div>
                <h1>Hello,  {{ agent.agent.first_name }}!!</h1>    
            </div>
            <div class="filter">
                Filter : <input type="text" name="filter" id="">
            </div>
            
            <div class="b-agent-s__options">
                <div class="options select">
                    <div>
                        Update sale/rent
                    </div>    
                </div>
                <div class="options">
                    Update property
                </div>
                <div class="options">
                    Sales Report
                </div>
            </div>    
            <div class="nav-buttons">
                <a href="/logout/">
                    <button class="btn_update">
                        Logout
                    </button>
                </a>
            </div>
    </div>    
    <div class="b-agent">
        <div class="b-agent__message">
            {% if messages %}
                {% for message in messages %}
                    <div class="{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="b-main-content" id="sale_rent_update">
            {% for property in properties|in_property:''%}
                    
                <div class="b-property">
                    <div class="b-property__image">
                        <img 
                            src="{{ property.property_image.url }}"  
                            alt="property image" 
                            width="200px" 
                            height="200px"
                        >
                    </div>
                    <div class="b-property__details">
                        <div class="b-property__details__name">
                            {{ property.property_name }}
                        </div>
                        <div class="b-property__details__area">
                            {{ property.address.area}}
                        </div>
                        <div class="b-property__details__size">
                            {{ property.no_of_bedrooms}} BHK Flat ( Floor : {{ property.floor }} )
                        </div>
                        
                        <div class="b-property__details__price">
                            {% if property.price|divide:1000 < 100 %}
                                ₹ {{ property.price|divide:1000 }} k
                            {% else %}
                            ₹ {{ property.price|divide:100000 }} Lakh
                            {% endif %} 
                        </div>
                        <div class="b-property__details__address">
                            {{ property.address.description }}
                        </div>
                        {{ property.owner.first_name}}
                        <!-- <div class="b-property__details_deactivate">
                            <button class="deact_btn">
                                deactivate
                            </button>
                        </div> -->
                    </div>
                    <div class="b-property__action">
                        <a href="{% url 'purchase_client' property_id=property.property_id %}">
                            <button class="btn_update">
                                {% if property.tag|isequal:'rent' %}
                                    Rented
                                {% else %}
                                    Sold 
                                {% endif %}
                            </button>
                        </a>    
                    </div>
                </div>    
            {% endfor %}
        </div>
        <div>
            {% for purchase in purchases %}
                <div
                    style="display: flex;
                    flex-direction:row;
                    justify-content:space-evenly;
                    align-items: center;
                    "
                >
                    <div>
                        {{ purchase.property.property_name }}
                    </div>
                    <div>
                        {{ purchase.client.client.first_name }}
                    </div>
                    <div>
                        {{ purchase.property.price }}
                    </div>
                    <div>
                        {{ purchase.date_of_purchase|date }}
                    </div>
                    <div>
                        {{ purchase.property.tag}}
                    </div>
                    <div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    var c = 9;
    function selector(){
        
    }
</script>
<style>
    .nav-buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 48px;
    }
    .success{
        color: green;
        position: fixed;
        top: 0;
        margin-top: 16px;
    }
    .b-agent-s__options{
        margin-top: 48px;
        border-style: solid;
        border-color: black;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
    }
    .options{
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        cursor: pointer;
    }
    .options:not(:nth-child(3)){
        border-bottom-style: solid;
        border-width: 1px;
    }
    .b-agent_message{
        position: fixed;
        padding: 8px;
        -webkit-box-shadow:0 1px 6px 0 rgba(0,0,0,0.05);
    }
    .b-agent-parent{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-height: 100vh;
    }
    .b-agent__sidebar{
        bottom: 0;
        top: 0;
        margin-top: 40px;
        color: black;
    }
    .b-agent{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 100vh;
        overflow: auto;
        margin-top: 64px;
    }
    .b-agent::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.b-agent::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.b-agent::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
    .b-main-content{
        margin-left: 34px;
    }
    .deact_btn{
        background-color: #fff;
        color: #35495e;
        border: 1px solid #35495e;
        padding: 4px;
        border-radius: 20px;
    }
    .b-property{
        -webkit-box-shadow:0 1px 6px 0 rgba(0,0,0,0.05);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 24px;
        margin-top: 0;
    }
    .b-property__details{
        margin-left: 16px;
    }
    .b-property__details__name{
        font-size: 28px;
    }
    .b-property__details__area{
        color: #999;
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .b-property__details__price{
        margin: 8px 0 8px 0;
        font-weight: bold;
    }
    .b-property__details__address{
        font-size: 14px;
        color: #999;
        max-width: 268px;
    }
    .btn_update{
        font-weight: 500;
        font-size: 14px;
        color: #35495e;
        margin: 0;
        margin-top: 8px;
        padding: 0;
        min-width: 70px;
        padding-left: 24px;
        padding-right: 24px;
        box-sizing: border-box;
        border: 1px solid #35495e;
        border-radius: 20px;
        box-shadow: 2px 4px 7px 0 #0000001a;
        background-color: #fff;
        height: 40px;
        
    }
    .btn_update:hover{
        background-color: rgb(238, 238, 238);
    }
    button{
        -webkit-appearance: button;
        cursor: pointer;
        outline: none;
    }
    .b-property__action{
        margin-left: 24px;
    }
</style>
{% endblock %}
