<html>
    <head>
        {% load static %}
        <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
        <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}"/>
        <title>
            {% block title %}

            {% endblock title %}
        </title>
    </head>
    <body>
            {% block body %}

            {% endblock body%}
    </body>
</html>
<style>
    body{
        font-family: 'Rubik';
        margin: 0;
    }
    
</style>