<html>
    <head>
        {% load static %}
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
        <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}"/>
        <title>
            {% block title %}

            {% endblock title %}
        </title>
    </head>
    <body>
            {% block body %}

            {% endblock body%}
    </body>
</html>
<style>
    body{
        font-family: 'Rubik';
        margin: 0;
    }
    input{
        border: 1px solid;
        border-radius: 7px;
        padding: 7px;
        outline: none;
    }
    
</style>