{% extends 'base.html' %}
{% load my_tags %}
{% block title %}
Agent Dashboard
{% endblock %}
{% block body %}
        <div class="b-client_parent">
            <div onclick="{window.location = '/agent-dashboard/'}" 
            style="cursor: pointer; 
            font-size:20px;
            margin-left: -294px;
            margin-bottom: 12px;
            color:white;
            ">
                <i class="fa fa-angle-double-left" style="font-size:22px;"></i> back
            </div>
            <div class="b-client">

                
                <h2>Enter Client's Information</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <span style="font-size: 11px; color:red;">(write number in +91 form!)</span>
                    <br>
                    <br>
                    <input type="submit" value="Submit" 
                    style="
                    float: right;
                    background-color: #2d6f68;
                    color: white;
                    border: 1px;
                    padding: 9px;
                    padding-right: 20px;
                    padding-left: 20px;
                    cursor: pointer;"
                    />
                    {{ form.errors }}
                    {{ form.non_field_errors }}
                </form>
            </div>
        </div>

<style>
.b-client_parent{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #4ca2cd, #67B26F);
}
.b-client{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 24px;
    padding: 40px;
    background-color: white;
    color: #2d6f68;
}
</style>
{% endblock %}
