{% extends 'base.html'%}
{% block body %}
    <div class="parent">
        <div class="child">
            <div>
                <h1>
                    Name : Ravindra Singh Sisodiya
                </h1>
                <br>
                <h2>
                    Roll No : 1801138
                </h2>
            </div>
            <div>
                <h2>
                    DBMS Project : Deliverable #4
                </h2>
            </div>
        </div>
    </div>
<style>
    .parent{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock %}