{% extends 'base.html' %}
{% load my_tags %}
{% load static %}
{% block title %}
    Office Dashboard Page
{% endblock %}
{% block body %}
    <div class="b-office__parent" id="main">
        <!-- Office Sidebar -->
        <div class="b-office__sidebar">
            <div>
                <h2>
                    Office  <br>
                    Admin   <br>
                    Portal  <br>
                </h2>
            </div>
            <div class="b-sidebar__options">
                <div class="option" id="option1" onclick="selector(event, 'id_agent_list')">
                    Sales Report
                </div>
                <div class="option" id="option2" onclick="selector(event, 'id_property_list')">
                    Properties
                </div>
                <div class="option" onclick="property_register()">
                    Register A Property
                </div>
                <div class="option" onclick="agent_register()">  
                    Register An Agent
                </div>
            </div>
            <div style="margin-top:40px">
                <a href="/logout/">
                    <button 
                    class="btn_update"
                    style="
                        border: 1px none !important;
                        background-color: #2d6f68;
                        color: white;
                        margin-top: 17px;
                        padding-left: 55px;
                        padding-right: 55px;
                        border-radius: 14px;
                    "
                    >
                        Logout
                    </button>
                </a>
            </div>
        </div>
        <div class="b-office">
            

            <!-- Welcome Block -->
            <div 
            id="welcome_page"  
            >
                
                    <div
                        style="font-size:28px;
                        background-color:white;
                        "
                    >
                        Welcome to the Portal
                    </div>
                
            </div>
            
            <!-- Agent List -->
            <div class="b-agent-list hide" id="id_agent_list" >
                <center>
                    <h1 style="
                        color: #2d6f68;
                    ">Agent List</h1>
                </center>
                {% for agent in agents %}
                <div class="b-agent-list__each-agent">
                    <div class="b-agent-info">
                        <div>
                            <div>
                                Agent ID : {{ agent.agent.person_id }}
                            </div> 
                            <div>
                                Agent's Name : {{ agent.agent }}
                            </div>
                            <div>
                                Phone no : {{ agent.agent.phone_no }}
                            </div>
                            <div>
                                email : {{ agent.agent.email }}
                            </div>
                        </div>
                        <div class="b-show-btn">
                            <button onclick="show('agent{{agent.agent.person_id}}')" style="padding: 8px; margin-left:16px;" class="btn_update"> 
                                Sale Report! 
                            </button>
                        </div>
                                        
                        <div class="b-agent__sales hide" id="agent{{agent.agent.person_id}}">
                            <div class="b-agent__sales-child">
                                <div class="b-close-btn" onclick="close_me()" style="font-size: 28px; cursor:pointer;">
                                    &#10006;
                                </div>
                                <div>
                                    <h1>Sales Report of {{ agent.agent }}</h1>
                                    <h2>Agent ID : {{ agent.user_id }}</h2>
                                </div>
                                {% with p=purchases|in_purchase:agent %}
                                    {% if p|is_empty_query %}
                                        <div>
                                            <center>
                                                No Sales Reported Yet!!
                                            </center> 
                                        </div>
                                    {% else %}
                                    
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <b>Property ID</b>
                                            </td>
                                            <td>
                                                <b>Property Name</b>
                                            </td>
                                            <td>
                                                <b>Property Area</b>
                                            </td>
                                            <td>
                                                <b>Prchase ID</b>
                                            </td>
                                            <td>
                                                <b>Client Name</b>
                                            </td>
                                            <td>
                                                <b>Price</b>
                                            </td>
                                            <td>
                                                <b>Date of Purchase</b>
                                            </td>
                                            <td>
                                                <b>Property Type</b>
                                            </td>
                                            
                                        </tr>
                                        {% for purchase in purchases|in_purchase:agent %}
                                            
                                                <tr>
                                                    <td>
                                                        {{purchase.property.property_id}}
                                                    </td>
                                                    <td>
                                                        {{ purchase.property.property_name }}
                                                    </td>
                                                    <td>
                                                        {{ purchase.property.address.area.area }}
                                                    </td>
                                                    <td>
                                                        {{ purchase.purchase_id}}
                                                    </td>
                                                    <td>
                                                        {{ purchase.client.client }} 
                                                    </td>
                                                    <td>
                                                        {{ purchase.property.price }}
                                                    </td>
                                                    <td>
                                                        {{ purchase.date_of_purchase|date }}
                                                    </td>
                                                    <td>
                                                        {{ purchase.property.tag}}
                                                    </td>
                                                </tr>
                                            
                                        {% endfor %}
                                        </tbody>
                                        </table>
                                    {% endif %}
                                {% endwith %}
                            </div>    
                        </div> 
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <!-- Active Property List -->
            <div class="b-properties_list hide" id="id_property_list" style="color: #2d6f68;">
                
                {% with p=properties|is_available:1 %}
                {% if p|is_empty_query == 0 %}
                <div>                  
                    <div>
                        <h1>
                            Properties which are available for Sale/Rent
                        </h1>
                    </div>
                    <div>
                        {% for property in properties|is_available:1 %}
                            <div>
                                <div class="b-property">
                                    
                                    <div class="b-property__image">
                                        <img 
                                            src="{{ property.property_image.url }}"  
                                            alt="property image" 
                                            width="200px" 
                                            height="200px"
                                        >
                                    </div>
                                    <div class="b-property__details">
                                        <div class="b-property__details__name">
                                            {{ property.property_name }}
                                        </div>
                                        <div class="b-property__details__area">
                                            {{ property.address.area.area}}
                                        </div>
                                        <div class="b-property__details__size">
                                            {{ property.no_of_bedrooms}} BHK Flat
                                        </div>
                                        
                                        <div class="b-property__details__price">
                                            {% if property.price|divide:1000 < 100 %}
                                                ₹ {{ property.price|divide:1000 }} k
                                            {% else %}
                                            ₹ {{ property.price|divide:100000 }} Lakh
                                            {% endif %} 
                                        </div>
                                        <div class="b-property__details__address">
                                            {{ property.address.description }}
                                        </div>
                                       
                                    </div>
                                    <div class="b-property__tag">
                                        {{property.tag}}
                                    </div>
                                    <div>
                                        <button class="b-details__btn" onclick="show_property_popup('ppp_{{property.property_id}}')">Details</button>
                                        <div class="b-property__popup__parent hide" id = "ppp_{{property.property_id}}">
                                            <div class="b-property__popup">
                                                <div class="b-close-btn" onclick="close_property_popup('ppp_{{property.property_id}}')" style="font-size: 28px; cursor:pointer;">
                                                    &#10006;
                                                </div>
                                                <div>
                                                    <div class="b-popup__property__details">
                                                        <center>
                                                            <h1>Property Details</h1>
                                                        </center>
                                                        
                                                        <div 
                                                        style="display: flex;
                                                        flex-direction:row;
                                                        justify-content:space-between;
                                                        ">
                                                            <div>
                                                                <h3>
                                                                    {{ property.property_name }}
                                                                </h3>
                                                                <p>
                                                                    Property ID : {{ property.property_id }}
                                                                </p>
                                                                <p>
                                                                    Property Type : {{ property.tag }}
                                                                </p>
                                                                <p>
                                                                    Price : {{ property.price }}
                                                                </p>
                                                                <p>
                                                                    BHK : {{ property.no_of_bedrooms }}
                                                                </p>
                                                                <p>
                                                                    Floor : {{ property.floor }}
                                                                </p>
                                                                <p>
                                                                    Date of entry : {{ property.date_of_entry|date}}
                                                                </p>
                                                            </div>
                                                            <div style="margin-left: 68px;">
                                                                <img 
                                                                    src="{{ property.property_image.url }}"  
                                                                    alt="property image" 
                                                                    width="300px" 
                                                                    height="300px"
                                                                >
                                                            </div>
                                                        </div>    
                                                    </div>
                                                    <div class="b-popup__address__details">
                                                        <h3>Address Details</h3>
                                                        <div>
                                                            <p>
                                                                City : {{ property.address.area.city.city }}
                                                            </p>
                                                            <p>
                                                                Area : {{ property.address.area.area }}
                                                            </p>
                                                            <p>
                                                                Zipcode : {{ property.address.area.zipcode }}
                                                            </p>
                                                            <p>
                                                                Description : {{ property.address.description }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="b-popup__owner__details">
                                                        <h3>Owner Details</h3>
                                                        <div>
                                                            <p>
                                                                Name : {{ property.owner.owner.first_name }} {{ property.owner.owner.last_name }}
                                                            </p>
                                                            <p>
                                                                email : {{ property.owner.owner.email }}
                                                            </p>
                                                            <p>
                                                                phone : {{ property.owner.owner.phone_no }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="delete_btn">
                                        <button 
                                        onclick="delete_property('{{property.property_id}}', '{{ property.property_name }}')"
                                        style="background-color: white;
                                            border: 1px solid red;
                                            color: red;
                                            border-radius: 11px;
                                            padding: 5px;
                                            padding-right: 10px;
                                            padding-left: 10px;"
                                        >
                                            delete
                                        </button>
                                    </div>
                                </div>    
                            </div>    
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
<script>
    let v = document.getElementsByName('type');
    open_id = '';
    function close_me(){
        console.log('close called');
        if(this.open_id != '')
            document.getElementById(this.open_id).classList.add('hide');
        this.open_id = '';
        document.body.style.overflow = 'auto';
    }
    function show(str){
        document.getElementById(str).classList.remove('hide');
        if(open_id != '' && this.open_id != str){
            document.getElementById(this.open_id).classList.add('hide');
        }        
        this.open_id = str;
        document.body.style.overflow = 'hidden';
    };
    opt = 'welcome_page';
    selected = '';
    function selector(event, idt){
        if(this.opt != idt){
            document.getElementById(idt).classList.remove('hide');
            if(this.opt != ''){
                document.getElementById(this.opt).classList.add('hide');
            }
            this.opt = idt;
        }
        
        document.getElementById(event.target.id).classList.add('select');
        if(this.selected != ''){
            document.getElementById(this.selected).classList.remove('select');
        }
        this.selected = event.target.id;
        
        
    }
    function agent_register(){
        window.location = '/register/agent/';
    }
    function property_register(){
        window.location = '/property/'
    }
    function show_property_popup(str){
        document.getElementById(str).classList.remove('hide');
        document.body.style.overflow = 'hidden';
    }
    function close_property_popup(str){
        document.getElementById(str).classList.add('hide');
        document.body.style.overflow = 'auto';
    }
    function delete_property(id, name){
        isIt = confirm('The property ' + name + ' with property id ' + id + ' will be deleted from the database!!')
        if(isIt){
            console.log('going /delete/property/' + id)
            window.location = '/delete/property/' + id 
        }
    }
</script>
<style>
    .delete_btn{
        margin-left: -67px;
        margin-top: 160px;
    }
    body{
        background-color: #f4f8f4;
    }
    #welcome_page{
        padding : 56px;
        border: 1px solid rgb(9, 78, 67);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size:28px;
        background-color:white;
        color:rgb(9, 78, 67);   
        margin-top: 268px;
        margin-bottom: 268px;
    }
    .select{
        font-weight: bold;
    }
    .b-office__sidebar{
        margin-right: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: 40px;
        top: 50;
        background: linear-gradient(to left, #4ca2cd, #67B26F);
        padding-right: 20px;
        padding-left: 20px;
        height: 87vh;
        bottom: 50;
        margin-bottom: 45px;
        color: white;
        border-radius: 15px;
    }
    .b-sidebar__options{
        margin-top: 32px;
        border: 1px;
        border-radius: 15px;
        cursor: pointer;
    }
    .option{
        padding: 15px;
        font-size: 18px;
    }
    .option:hover{
        font-weight: bold;
    }
    .option:not(:last-child){
        border-bottom: 1px solid white;
    }

    .hide{
        display: none !important;
    }
    table{
        padding: 8px;
        border: 1px solid #2d6f68;
        border-collapse: collapse;
    }
    td{
        padding: 8px;
    }
    tr:first-child td{
        border-bottom: 1px solid #2d6f68;;
    }
    tr td{
        border-right: 1px solid #2d6f68;
        color: #2d6f68;
    }
    .b-close-btn{
        display: flex;
        flex-direction: row-reverse;
        justify-content: right;
        align-items: flex-end;
    }
    
    .hide{
        display: none !important;
    }
    .b-agent-info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 48px;
        border: 1px solid #2d6f68;
        border-radius: 20px;
        color: #2d6f68;
        margin: 8px;
        background-color: white;
    }
    .b-office__parent{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        
    }
    .b-office{
        margin-top: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .b-agent__sales{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgba(75, 72, 72, 0.7);
    }
    .b-agent__sales-child{
        background-color: white;
        padding: 32px;
        border-radius: 15px;
        max-height: 500px;
        overflow: auto;
    }
    .btn_update{
        font-weight: 500;
        font-size: 14px;
        color: #35495e;
        margin: 0;
        margin-top: 8px;
        padding: 0;
        min-width: 70px;
        box-sizing: border-box;
        border: 1px solid #35495e;
        border-radius: 20px;
        box-shadow: 2px 4px 7px 0 #0000001a;
        background-color: #fff;
        height: 40px;
        background-color: #2d6f68;
        color: white;
        border-radius: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .btn_update:hover{
        background-color: white;
        color: #2d6f68;
    }
    button{
        -webkit-appearance: button;
        cursor: pointer;
        outline: none;
    }
    .b-property{
        -webkit-box-shadow:0 1px 6px 0 rgba(0,0,0,0.05);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 24px;
        margin-top: 0;
        background-color: white;
    }
    .b-property__tag{
        margin-left: 40px;
        padding: 4px;
        padding-left: 17px;
        background-size: 51px;
        max-height: 23px;
        color: #87bab4;
    }
    .b-property__details{
        margin-left: 16px;
    }
    .b-property__details__name{
        font-size: 28px;
    }
    .b-property__details__area{
        color: #87bab4;
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .b-property__details__price{
        margin: 8px 0 8px 0;
        font-weight: bold;
    }
    .b-property__details__address{
        font-size: 14px;
        color: #87bab4;
        max-width: 268px;
    }
    .b-details__btn{
        margin-top: 38px;
        margin-left: -48px;
        border: 1px;
        background-color: #2d6f68;
        color: white;
        border-radius: 5px;
        padding: 4px;
        padding-right: 16px;
        padding-left: 16px;
    }
    .b-property__popup__parent{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgba(75, 72, 72, 0.7);
    }
    .b-property__popup{
        background-color: white;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 24px;
        padding-bottom: 24px;
        border-radius: 15px;
        max-height: 500px;
        overflow: auto;
    }
    body::-webkit-scrollbar-track, .b-agent__sales-child::-webkit-scrollbar-track, .b-property__popup::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #d9fffc;
    }
    
    body::-webkit-scrollbar, .b-agent__sales-child::-webkit-scrollbar, .b-property__popup::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F5F5;
    }
    
    body::-webkit-scrollbar-thumb, .b-agent__sales-child::-webkit-scrollbar-thumb, .b-property__popup::-webkit-scrollbar-thumb
    {
        background-color: #2d6f68;
    }
</style>
{% endblock %}