{% extends 'base.html'%}
{% block title %}
    Property Form
{% endblock %}
{% block body %}
    <div class="b-property__parent">
        <div onclick="{window.location = '/office-dashboard/'}" 
        style="cursor: pointer; 
        font-size:20px;
        margin-left: -1000px;
        margin-bottom: 13px;
        color:white;
        ">
            <i class="fa fa-angle-double-left" style="font-size:22px;"></i> back
        </div>
        <div class="b-property">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="details">
                    <div id="property_input">
                        <h2>
                            Property Details
                        </h2>
                        {{ form.as_p }}
                        
                    </div>
                    <div id="owner_input">
                        <h2>
                            Owner Details
                        </h2>
                        {{ form_owner.as_p}}
                        
                    </div>
                    <div id="address_input">
                        <h2>
                            Address Details
                        </h2>
                        <p>
                            Area : <input type="text" required name="area">
                        </p>
                        <p>
                            Address : <input type="text" required name="description">
                        </p>
                        <p>
                            Zipcode : <input type="number" required name="zipcode" >
                        </p>
                        <p>
                            <input type="submit" value="Save" id="submit-btn"/>
                        </p>   
                    </div>
                </div>
                 
            </form>
        </div>
    </div>   
    <script>

    </script>
    <style>
        .hide{
            display: none;
        }
        .b-property__parent{
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #22534e;
            background: linear-gradient(to left, #4ca2cd, #67B26F);
        }
        .b-property{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 24px;
            color: #22534e;
            background-color: white;
            padding: 38px;
            padding-bottom: 0px;
            overflow: auto;
        }
        .details{
            display: flex;
            flex-direction: row;
            justify-content: center;    
        }
        .details div{
            padding-left: 20px;
            padding-right: 20px;    
        }
        
        #submit-btn{
            padding-right: 32px;
            float: right;
            margin-bottom: 16px;
            margin-top: 24px;
            border: 1px;
            background-color: #1f4f47;
            color: white;
            padding-left: 32px;
            font-size: 17px;
            cursor: pointer;
        }
        
    </style>
{% endblock %}